<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    ﻿
    @{
        ViewBag.Title = "Index";
    }

    <div>
        <a href="/">Home</a>
        <a href="/Home/aboutus"> __About Us</a>
        <a href="/Home/teamandmembers">  __Team & Members</a>
        <a href="/Home/contactus">  __Contact</a>

    </div>

    <h2> @ViewBag.CompanyName</h2>
    <h3> @ViewBag.shortinfo</h3>
</body>
</html>